services:
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    depends_on:
      - mongo
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass

  front:
    build: ./front
    ports:
      - "3000:80"
    depends_on:
      - back

  back:
    build: ./back
    ports:
      - "5000:5000"
    environment:
      MONGODB_URI: "mongodb://root:example@mongo:27017/urlShortener?authSource=admin"
      PORT: 5000
    depends_on:
      - mongo
      
volumes:
  mongo-data:
